<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cra.oodp2nd" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.LoginActivity" />
        </activity>
        <activity
            android:name=".TaskViewActivity"
            android:label="@string/title_activity_task_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.MainActivity" />
        </activity>
        <activity
            android:name=".TaskAddActivity"
            android:label="@string/title_activity_task_add"
            android:parentActivityName=".TaskViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.TaskViewActivity" />
        </activity>
        <activity
            android:name=".TaskUpdateActivity"
            android:label="@string/title_activity_task_update"
            android:parentActivityName=".TaskViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.TaskViewActivity" />
        </activity>
        <activity
            android:name=".RecordViewActivity"
            android:label="@string/title_activity_record_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.MainActivity" />
        </activity>
        <activity
            android:name=".RecordAddActivity"
            android:label="@string/title_activity_record_add"
            android:parentActivityName=".RecordViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.RecordViewActivity" />
        </activity>
        <activity
            android:name=".RecordUpdateActivity"
            android:label="@string/title_activity_record_update"
            android:parentActivityName=".RecordViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.RecordViewActivity" />
        </activity>
        <activity
            android:name=".ScheduleViewActivity"
            android:label="@string/title_activity_schedule_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.MainActivity" />
        </activity>
        <activity
            android:name=".ScheduleAddActivity"
            android:label="@string/title_activity_schedule_add"
            android:parentActivityName=".ScheduleViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.ScheduleViewActivity" />
        </activity>
        <activity
            android:name=".ScheduleUpdateActivity"
            android:label="@string/title_activity_schedule_update"
            android:parentActivityName=".ScheduleViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.ScheduleViewActivity" />
        </activity>
        <activity
            android:name=".SubTaskAddActivity"
            android:parentActivityName=".TaskAddActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.SubTaskAddActivity" />
        </activity>
        <activity
            android:name=".CalendarSchedule"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.MainActivity" />
        </activity>
        <activity
            android:name=".SubTaskUpdateActivity"
            android:parentActivityName=".TaskUpdateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cra.oodp2nd.TaskUpdateActivity" />
        </activity>
        <!--<activity-->
            <!--android:name=".FileBrowserActivity"-->
            <!--android:label="@string/title_activity_file_browser" >-->
        <!--</activity>-->
        <activity
            android:name="cra.oodp2nd.FileBrowserActivity"
            android:label="File browser"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="cra.oodp2nd.SELECT_DIRECTORY_ACTION"></action>
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>
